@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto&display=swap');

h1,
label,
input,
textarea,
div,
button {
  font-family: 'Roboto', sans-serif !important;
}

html,
body,
#root,
.App {
  height: 100%;
}

body {
  background: rgba(0, 132, 255, 0.582);
}

.section-container {
  margin-top: 1rem;
  background: white;
  padding: 1.5rem 2.5rem;
  display: grid;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
  grid-template-columns: 1fr 1fr;
  gap: 2rem 3rem;
}

.two-cols {
  grid-column: 1 / 3;
}
